<!DOCTYPE html>
<html lang="en-us">

  <%- partial('_partial/head') %>

  <body class="<%- config.theme_class %>">

    <%- partial('_partial/sidebar') %>

    <div class="content container">
      <%- body %>
    </div>

  </body>
</html>
